:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background: rgba(240, 244, 248, 0.8);
  --text-primary: #0f0f0f;
  --text-secondary: #4e4e4e;
  --accent: #dfb017;
  --accent-hover: #cea315; 
  --border: #1f1e1e;
  --shadow: 0px 0px 0px 2px #00000056;

  --glass: #00000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} 

[data-theme='dark'] {
  --background: #191919;
  --text-primary: #f2f2f2;
  --text-secondary: #a7a4a4;
  --accent: #6a5acd;
  --accent-hover: #5b4cbe; 
  --border: #696969;
  --shadow: 0px 0px 0px 2px #ffffff1b;
}

body{
  background-color: var(--background);
  color: var(--text-primary);
  margin: 0;
}


.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.cotainer-center {
  display: flex;
  justify-content: center;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  /* background-color:  var(--background); */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-movile {
  /* background-color:  var(--background); */
  flex-flow: column;
  text-align-last: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 0.5rem;
}

.header__title {
  color: var(--text-primary);
  font-size: 24px;
  margin: 0;
}

.header__sub__title {
  color: var(--text-primary);
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.title__container {
  flex-direction: column
}

.header__pagination {
  text-align: center;
}

.header__pagination-button {
  padding: 8px 16px;
  background-color: var(--glass);
  color: var(--text-primary);
  border: none;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
  text-decoration: none;
}

.header__pagination-button-active {
  border-bottom: var(--text-secondary) 2px solid;
}

.button-theme {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333333;
  color: #ffffff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
  margin: 0 0.5rem;
  animation: animate__animated animate__bounceIn 1s;
}

/* Estilos de la imagen */
.image-profile {
  border: 5px solid #fff;
  border-radius: 50%;
  width: 50vw;
  max-width: 18rem;
  height: auto;
}

@media screen and (min-width: 600px) {
  .image-profile {
    width: 30vw;
    height: auto;
  }
}

@media screen and (min-width: 767px) {
  .image-profile {
    width: 20vw;
    height: auto;
  }
}

/* Animación del marco */
@keyframes frameAnimation {
  0% {
    border-color: rgb(144, 238, 144); /* Color del borde en el inicio */
  }
  50% {
    border-color: rgb(34, 139, 34); /* Color del borde en la mitad de la animación */
  }
  100% {
    border-color: rgb(144, 238, 144); /* Color del borde al final de la animación */
  }
}

/* Aplicar la animación al marco */
.image-profile {
  animation: frameAnimation 3s infinite; /* Duración de la animación y repetición infinita */
}

.contenido-sobre-mi {
  margin-top: 2rem;
  display: flex;
  grid-gap: 2rem;
  align-items: center;
}

.contenido-sobre-mi-movil {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.show-container {
  display: block;
}

.carousel {
  width: 300px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.carousel-wrapper {
  display: flex;
  width: fit-content;
  animation: carousel-animation 10s infinite;
}

.carousel-slide {
  flex-shrink: 0;
}

.contenido-detalle {
  flex-shrink: inherit;
}

.carousel {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.carousel-wrapper {
  display: flex;
  animation: carousel-animation 10s infinite linear;
  background-color: var(--glass);
}

.carousel-slide {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  background-color: var(--glass);
}

.carousel-slide img {
  background-color: var(--glass);
  width: 100%;
  /* height: 100px; */
  /* object-fit: cover; */
}

.image-container-tablet {
  display: flex;
  grid-gap: 2rem;
  align-items: center;
}

.image-container-movil {
  display: flex;
  grid-gap: 1rem;
  flex-flow: column;
  align-self: center;
  align-items: center;
}

.animated-element {
  opacity: 0;
  transition: opacity 1s;
}

.animated-element.show {
  opacity: 1;
}

.cotainer-experience{
  margin-bottom: 4rem;
}

.contenido-exp {
  font-weight: bold;
}

.experiencia {
  margin-bottom: 3rem;
}

.title-exp {
  margin: 0.2rem 0rem;
  padding-left: 1.8rem;
}

.actividad {
  font-weight: 350;
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
}

.lista-skils {
  display: flex;
  grid-gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: center;
}

.lista-skils-home{
  display: grid;
  grid-template-columns: auto !important;
}

@media screen and (min-width: 767px) {
  .lista-skils-home{
    grid-template-columns: auto auto !important;
  }
}

.skil {
  padding: 0.3rem 1rem;
  background-color: var(--accent);
  border-radius: 1rem;
}

.icon-list {
  color: var(--accent);
}

.text-secondary {
  color: var(--text-secondary);
}

/* Contacto */
.contact-list {
  margin: 20px auto;
  max-width: 50%;
}

@media screen and (max-width: 767px) {
  .contact-list {
    max-width: 100%;
  }
}

.contact-list ul {
  list-style: none;
  padding: 0;
}

.contact-list li {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 15px;
  padding: 10px;
  background-color: var(--background);
  border-radius: 5px;
  color: var(--text-primary);
  box-shadow: var(--shadow);
}

.contact-list li:hover {
  background-color: var(--accent-hover);
}

.contact-list .icon {
  margin-right: 10px;
}

.contact-list .name {
  font-weight: bold;
}

.email {
  text-align: center;
}

.contact-list .email a {
  text-decoration: none;
  text-align: center;
  color: var(--text-secondary);
}

.contact-list .email a:hover {
  text-decoration: underline;
}

.icon-contact {
  color: var(--text-primary);
}