:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* --background: rgba(240, 244, 248, 0.8); */
  --background: #FFDEE9;
  --background-gradient: linear-gradient(0deg, #fbfbfb 0%, #b5ffed 100%);
  --text-primary: #333333;
  --text-secondary: #899090;
  --accent: #ACCC7B;
  /* --background-glass: rgba(223, 176, 23, 0.3); */
  --background-glass: rgba(255, 255, 255, 0.3);
  --accent-hover: #cea315;
  --border: #1f1e1e;
  --shadow: 0px 0px 0px 2px #00000056;
  --box-shadow-card: 0 0px 35px rgba(0, 0, 0, 0.2);

  --glass: #00000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} 

[data-theme='dark'] {
  --background: #191919;
  --background-gradient: #191919;
  --text-primary: #f2f2f2;
  --text-secondary: #a7a4a4;
  --accent: #6a5acd;
  --background-glass: rgba(105, 90, 205, 0.5);
  --accent-hover: #5b4cbe;
  --border: #696969;
  --shadow: 0px 0px 0px 2px #ffffff1b;
  --box-shadow-card: 0 0px 0px rgba(0, 0, 0, 0.2)
}

body{
  background: var(--background);
  background: var(--background-gradient);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--text-primary);
  margin: 0;
}


.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.cotainer-center {
  display: flex;
  justify-content: center;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.header {
  /* background-color:  var(--background); */
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-movile {
  /* background-color:  var(--background); */
  flex-flow: column;
  text-align-last: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-gap: 0.5rem;
}

.header__title {
  color: var(--text-primary);
  font-size: 24px;
  margin: 0;
}

.header__sub__title {
  color: var(--text-primary);
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.title__container {
  flex-direction: column
}

.header__pagination {
  text-align: center;
}

.header__pagination-button {
  user-select: none1;
  padding: 8px 16px;
  background-color: var(--glass);
  color: var(--text-primary);
  border: none;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
  text-decoration: none;
}

.header__pagination-button-active {
  border-bottom: var(--text-secondary) 2px solid;
}

.button-theme {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333333;
  color: #ffffff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
  margin: 0 0.5rem;
  animation: animate__animated animate__bounceIn 1s;
}

/* Estilos de la imagen */
.image-profile {
  border: 5px solid #fff;
  border-radius: 50%;
  width: 50vw;
  max-width: 18rem;
  height: auto;
}

@media screen and (min-width: 600px) {
  .image-profile {
    width: 30vw;
    height: auto;
  }
}

@media screen and (min-width: 767px) {
  .image-profile {
    width: 20vw;
    height: auto;
  }
}

/* Animación del marco */
@keyframes frameAnimation {
  0% {
    border-color: rgb(144, 238, 144); /* Color del borde en el inicio */
  }
  50% {
    border-color: rgb(34, 139, 34); /* Color del borde en la mitad de la animación */
  }
  100% {
    border-color: rgb(144, 238, 144); /* Color del borde al final de la animación */
  }
}

/* Aplicar la animación al marco */
.image-profile {
  animation: frameAnimation 3s infinite; /* Duración de la animación y repetición infinita */
}

.contenido-sobre-mi {
  margin-top: 2rem;
  display: flex;
  grid-gap: 2rem;
  align-items: center;
}

.contenido-sobre-mi-movil {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.show-container {
  display: block;
}

.carousel {
  width: 300px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.carousel-wrapper {
  display: flex;
  width: fit-content;
  animation: carousel-animation 10s infinite;
}

.carousel-slide {
  flex-shrink: 0;
}

.contenido-detalle {
  flex-shrink: inherit;
}

.carousel {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.carousel-wrapper {
  display: flex;
  animation: carousel-animation 10s infinite linear;
  background-color: var(--glass);
}

.carousel-slide {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  background-color: var(--glass);
}

.carousel-slide img {
  background-color: var(--glass);
  width: 100%;
  /* height: 100px; */
  /* object-fit: cover; */
}

.image-container-tablet {
  display: flex;
  grid-gap: 2rem;
  align-items: center;
}

.image-container-movil {
  display: flex;
  grid-gap: 1rem;
  flex-flow: column;
  align-self: center;
  align-items: center;
}

.animated-element {
  opacity: 0;
  transition: opacity 1s;
}

.animated-element.show {
  opacity: 1;
}

.cotainer-experience{
  margin-bottom: 4rem;
}

.contenido-exp {
  font-weight: bold;
}

.experiencia {
  margin-bottom: 3rem;
}

.title-exp {
  margin: 0.2rem 0rem;
  padding-left: 1.8rem;
}

.actividad {
  font-weight: 350;
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
}

.lista-skils {
  display: flex;
  grid-gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  justify-content: center;
}

.lista-skils-home{
  display: grid;
  grid-gap: 0.5rem 1rem;
  grid-template-columns: auto !important;
}

@media screen and (min-width: 767px) {
  .lista-skils-home{
    grid-template-columns: auto auto !important;
  }
}

.skil {
  padding: 0.3rem 1rem;
  background-color: var(--accent);
  border-radius: 1rem;
}

.icon-list {
  color: var(--accent);
}

.text-secondary {
  color: var(--text-secondary);
}

/* Contacto */
.contact-list {
  margin: 20px auto;
  max-width: 50%;
}

@media screen and (max-width: 767px) {
  .contact-list {
    max-width: 100%;
  }
}

.contact-list ul {
  list-style: none;
  padding: 0;
}

.contact-list li {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 15px;
  padding: 10px;
  /* background-color: var(--background); */
  border-radius: 5px;
  color: var(--text-primary);
  box-shadow: var(--shadow);
}

.contact-list li:hover {
  background-color: var(--background-glass);
}

.contact-list .icon {
  margin-right: 10px;
}

.contact-list .name {
  font-weight: bold;
}

.text {
  text-align: center;
}

.contact-list .text a {
  text-decoration: none;
  text-align: center;
  color: var(--text-secondary);
}

.contact-list .text a:hover {
  text-decoration: underline;
}

.icon-contact {
  color: var(--text-primary);
}

/* Card */
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 1rem;
  padding-bottom: 3rem !important;
}

.card {
  text-decoration: none;
  position: relative;
  width: 300px;
  height: 400px;
  margin: 1em;
  background: rgba(0, 0, 0, 0.5);
  background-color: var(--background-glass);
  backdrop-filter: blur(10px);
  box-shadow: var(--box-shadow-card);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* backdrop-filter: blur(0px); */
  /* border: solid 2px transparent; */
  background-clip: padding-box;
  /* box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5); */
}
.card .content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* opacity: 0.5; */
  transition: 0.5s;
}
.card .content .img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid rgba(0, 0, 0, 0.25);
}
.card .content .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .content .cardContent h3 {
  /* color: #fff; */
  color: var(--text-primary);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;
}
.card .content .cardContent h3 span {
  font-size: 12px;
  font-weight: 400;
  text-transform: initial;
}
.card .sci {
  text-align: justify;
  position: absolute;
  top: 14.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.card .sci {
  /* color: #fff; */
  font-size: 14px;
  color: var(--text-primary);
  margin: 0 2rem;
  transform: translateY(40px);
  opacity: 0;
  transition: 0.5s;
}
.card:hover .content {
  opacity: 1;
  transform: translateY(-60px);
}
.card:hover .sci {
  transform: translateY(0px);
  opacity: 1;
  transition: 2.4s;
}

.card:hover .content .cardContent {
  opacity: 0 !important;
  transform: translateY(0px);
  transition: 0.5s;
  display: none;
}

/* Estilo para el contenedor principal */
.app-container {
  display: flex;
  flex-direction: row-reverse;
  /* flex-direction: column; */
  align-items: center;
  text-align: center;
  gap: 1rem;
}

/* Estilo para la captura de la App */
.app-screenshot img {
  width: 100%;
  max-width: 300px; /* Ajusta el tamaño máximo de la imagen para dispositivos móviles */
  height: auto;
}

/* Estilo para la descripción de la App */
.app-description {
  margin-top: 20px; /* Ajusta el espaciado superior según tus necesidades */
}

/* Estilo para hacerlo responsivo */
@media (min-width: 768px) {
  .app-container {
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }

  .app-screenshot {
    margin-right: 20px; /* Ajusta el espaciado entre la captura y el texto según tus necesidades */
    order: 2; /* Cambia el orden de visualización en dispositivos móviles */
  }

  .app-description {
    width: 100%;
    max-width: 400px; /* Ajusta el ancho máximo para pantallas más grandes */
    order: 1; /* Cambia el orden de visualización en dispositivos móviles */
    text-align: justify;
  }
}
